
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to worklede.com, <%= @user.first_name %></h1>
    <p>
      You have successfully uploaded a new resume %><br>
    </p>
    <p>
      To login to the site, just follow this link: localhost:3000.
    </p>
    <p>Have any concerns? Write to us at admin@worklede.com</p>
  </body>
</html>