
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Kudos <%= @user.first_name %></h2>
    <p>
      You have successfully uploaded a new resume to WorkLede. To login to the site, just follow this link: https://serene-inlet-00774.herokuapp.com/.<br>
    </p>
    <p>Have any concerns? Write to us at dispatch@worklede.com</p>
  </body>
</html>
