<%= render "layouts/header.html.erb" %>

<div id="index_banner">
  <div id="hero_text">
    Automated job alerts for the journalism industry
    <div id="hero_sub">
        Receive the latest jobs alerts catered to your resume in your inbox every morning.
    </div>
  </div>
</div>
