<%= render "layouts/header.html.erb" %>

<div id="index_banner">
  <div id="trans_image"></div>
  <div id="hero_text">
    Smart job alerts for the journalism industry
    <div id="hero_sub">
        Catered to your resume and delivered to your inbox every morning.
    </div>
  </div>
</div>
<div id="index_three_steps">
  <div class="step">
      <div class="step_image" style="background-image:url('https://worklede-assets.s3.amazonaws.com/A1.png')"></div>
      <div class="step_title">Step 1</div>
      <div class="step_description">Log in via LinkedIn</div>
  </div>
  <div class="step">
    <div class="step_image" style="background-image:url('https://worklede-assets.s3.amazonaws.com/A2.png')"></div>
    <div class="step_title">Step 2</div>
    <div class="step_description">Upload your resume</div>
  </div>
  <div class="step">
    <div class="step_image" style="background-image:url('https://worklede-assets.s3.amazonaws.com/A3.png')"></div>
    <div class="step_title">Step 3</div>
    <div class="step_description">Receive job alerts</div>
  </div>
</div>
