body {
  margin: 0px !important;
}

a {
  text-decoration:  none;
  font-family: 'gilroyMedium';
}

div {
  font-family: 'gilroyRegular';
}

#worklede_header {
  height: 64px;

}

#worklede_header_logo {
  display: inline-block;
  height: calc(100% - 4px);
  width: 185px;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://worklede-assets.s3.amazonaws.com/workLedeLogo.png");
}

#worklede_header_log_in {
  line-height:64px;
  display: inline-block;
  float:right;
  margin-right:12px;
  color: #355ECC;
}

#worklede_header_sign_up {
  display: inline-block;
  float:right;
  margin-right:20px;
  color: white;
  background-color: #355ECC;
  padding-left:10px;
  padding-right:10px;
  height:40px;
  line-height: 42px;
  margin-top: 10px;
  border-radius: 4px;
}

#worklede_header_log_out {
  line-height:64px;
  display: inline-block;
  float:right;
  margin-right:12px;
  color: #355ECC;
}

#worklede_header_welcome {
  line-height:64px;
  display: inline-block;
  float:right;
  margin-right:12px;
  color: #919191;
}

#content{
  padding-left:16px;
  padding-right:16px;
}


@font-face {
  font-family: 'gilroyBold';
  src: url('Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'gilroyMedium';
  src: url('Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'gilroyRegular';
  src: url('Gilroy-Regular.ttf');
}

form {
  font-family: 'Avenir';
  font-size: 16px;
}

.resume_form_label {
  color: #656565;
  font-size: 15px;
}


.resume_text_field {
  border-radius: 4px;
  height: 22px;
  width: 180px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  font-family: 'Avenir';
  font-size: 14px;
  padding-left: 6px;
}

#resume_name_field {
  margin-top:4px;
  margin-bottom:10px;
}

#submit_btn {
  margin-top: 10px;
}

.delete_icon {
  width: 20px;
  height: 20px;
  margin-left:auto;
  margin-right:auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://worklede-assets.s3.amazonaws.com/delete.png");
}

td {
  text-align: center;
}
