<div id="worklede_header">

  <div id="worklede_header_logo"></div>

  <% if @user %>
    <a id="worklede_header_log_out" href="/users/<%=@user.id%>/logout">Log Out</a>
    <div id="worklede_header_welcome"> Welcome <%= @user.first_name%> </div>

  <% else %>
    <a id="worklede_header_sign_up" href="/auth/linkedin">Sign Up</a>
    <a id="worklede_header_log_in" href="/auth/linkedin">Log In</a>
  <% end %>

</div>
